# 모든 파일을 기본적으로 무시
*

# 폴더는 무시하지 않음 (폴더 자체를 무시하면 하위 파일도 무시됨)
!*/

# .gitignore 파일은 무시하지 않음
!.gitignore

# .asm 파일은 무시하지 않음
!*.asm
!**/*.asm

# .pdf 파일은 무시하지 않음
!*.pdf
!**/*.pdf
Project1/0.MIPS,MARS 설치 및 실행.pdf
